*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff
}

.container{
    align-items: center;
    text-align: center;
}

.Img{
   max-width: 400px;
   min-height: 260px;
}


.Main_img{
    
}


.countDown{
     display: flex;
    flex-wrap:wrap ; /*Горизонт сделать */
    justify-content: space-between;
    text-align: center;

    font-size: 16px;
    color: white;
    min-width: 320px;

}


.countDown-item{
    margin-top: 10px;
   background-color: #49a6e9;
    padding: 6px;
    min-width: 65px;

}

.expired{
    color: #222;
    margin: 0 auto;
}